import { ConfigProvider } from "./types/ConfigProvider.ts"

export const config: ConfigProvider = {
    db_url: "mongodb://username:password@localhost:27017/?retryWrites=true",
    db_name: 'mornheisland',
    port: 7000,
    log_path: './log',
    router_dir: './router',
    jwt: {
        secret: 'replace-me-with-a-random-string',
        algorithms: ['HS256']
    },
    session_secret: 'replace-me-with-another-random-string',
    sso: {
        client_id: 'your-sso-client-id',
        client_secret: 'your-sso-client-secret',
    },
    stcn: {
        endpoint: 'https://auth.smart-teach.cn',
        client_id: 'your-stcn-client-id',
        client_secret: 'your-stcn-client-secret',
        application: 'your-app-name',
    },
    tcloud: {
        secretId: 'your-secret-id',
        secretKey: 'your-secret-key'
    },
    llm: {
        endpoint: 'https://your-endpoint-url.com',
        apiKey: 'your-api-key',
        model: 'your-model-name',
        extraParams: {
            // OpenAI SDK 的其他客户端非必须参数...
        }
    }
}
